h1{
 
border-bottom:3px solid blue ;    
           
}
h2{
    border: 3px  solid gray;
}
#datos{
    border-top:10px dotted red;
    border-bottom:10px dotted red;
    
}
#contenido{
    border: dotted green;
    
}